@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }
}


@media (min-width:430px) and (max-width:833px) {


    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}