* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    /*background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000000, #000915;*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(./img/bg.jpg), lightgray 50% / cover no-repeat;
    height: 1024px;
    background-position: center;

    &__title {
        padding-top: 217px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 788.778px;
        max-width: 100%;
    }

    &__subtitle {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 481px;
        max-width: 100%;
        padding: 32px 0px 44px 0px;
    }

    &__button {
        text-decoration: none;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        padding: 13px 74px 13px 74px;
        box-sizing: border-box;
    }
}



.games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    background: #000915;
    padding: 128px 0px 128px 0px;

}

.game {
    width: 379px;
    height: 300px;
    border-radius: 16px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &__1 {
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/1.jpg), lightgray 50% / cover no-repeat;
    }

    &__2 {
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/2.jpg), lightgray 50% / cover no-repeat;
    }

    &__3 {
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/3.jpg), lightgray 50% / cover no-repeat;
    }
}

.game-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

    padding-left: 32px;

    padding-bottom: 32px;

}

.games a {

    color: white;

    text-decoration: none;

}

@import 'tablet';
@import 'mobile';